.name-modal {
  position: fixed;
  inset: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  background: rgba(0, 0, 0, 0.6); /* sfondo semi-trasparente */
  z-index: 2000;
  .modal-content {
    background: linear-gradient(to right, #f74d4d, #ffdc00);
    padding: 2rem;
    border-radius: 12px;
    box-shadow: 0 8px 20px rgba(0, 0, 0, 0.4);
    text-align: center;
    width: 300px;
    animation: fadeIn 0.3s ease-out;
  }
  h3 {
    color: #fff;
    margin-bottom: 1rem;
    text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.3);
    font-family: 'Pokemon Solid', Arial, sans-serif;
    letter-spacing: 2.5px;
  }
  form {
    display: flex;
    flex-direction: column;
    gap: 1rem;
  }
  input[type='text'] {
    padding: 0.6rem 0.8rem;
    border-radius: 12px;
    border: 2px solid #fff;
    font-size: 1rem;
    outline: none;
    transition: border-color 0.3s ease, box-shadow 0.3s ease;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI",
             Roboto, Helvetica, Arial, sans-serif;
  }
  button {
    padding: 0.6rem 1rem;
    border-radius: 12px;
    border: none;
    background: #3B4CCA;
    color: #f74d4d;
    font-weight: bold;
    cursor: pointer;
    transition: transform 0.2s ease, box-shadow 0.2s ease;
  }
  button:hover {
    transform: scale(1.05);
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.3);
  }
  input[type='text']:focus {
    border-color: #ffdc00;
    box-shadow: 0 0 10px rgba(247, 77, 77, 0.6);
  }
  input[type='text']::placeholder {
    color: #fff;
    font-weight: bold;
  }

}

@keyframes fadeIn {
  from {
    opacity: 0;
    transform: translateY(-20px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}
