.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;

.game-container {
  width: 100%;
  display: flex;
  align-items: center;

  .counter,
  .timer {
    flex: 1;
    display: flex;
  }

  .counter {
    justify-content: flex-start;
  }

  .timer {
    justify-content: flex-end;
  }

  .game-screen {
    flex: 0; // resta della sua dimensione
  }
}
}
