.game-container {
  flex: 1; // occupa tutto lo spazio rimasto
  display: flex;
  justify-content: center;
  align-items: center;

  .pokemon-canva {
    padding-right: 80px;
    padding-bottom: 75px;
    display: grid;
    gap: 0;
    grid-template-columns: repeat(30, 30px); // corretto
  }
}
