.game-container {
  flex: 1; // occupa tutto lo spazio rimasto
  position: relative;


  .pokemon-canva {
    padding-right: 70px;
    padding-bottom: 75px;
    display: grid;
    gap: 0;
  }

  .flash-overlay {
    position: absolute;
    inset: 0;
    background: white;
    pointer-events: none;
    animation: flash 260ms ease-out;
  }
}

@keyframes flash {
  0% { opacity: 0; }
  20% { opacity: 0.95; }
  100% { opacity: 0; }
}
