.nav {
  position: relative;
  display: flex;
  align-items: center;

  background: linear-gradient(to right, rgb(247, 77, 77), yellow);
  font-weight: bold;
  font-size: 24px;
  font-family: 'Pokemon Solid', Arial, sans-serif;
  letter-spacing: 2.5px;
  height: 3rem;
  padding: 0 1rem;
  color: #3B4CCA;
  .left {
    position: relative;
    z-index: 2; // evita che sia coperto
  }

  .center {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    display: flex;
    gap: 1rem;
  }

  a {
    text-decoration: none;
    

    &:hover,
    &.active {
      color: #3B4CCA;
    }
  }
}
