
// Include theming for Angular Material with `mat.theme()`.
// This Sass mixin will define CSS variables that are used for styling Angular Material
// components according to the Material 3 design spec.
// Learn more about theming and how to use it for your application's
// custom components at https://material.angular.dev/guide/theming
@use '@angular/material' as mat;

html {
  @include mat.theme((
    color: (
      primary: mat.$azure-palette,
      tertiary: mat.$blue-palette,
    ),
    typography: Roboto,
    density: 0,
  ));
}

body {
  // Default the application to a light color theme. This can be changed to
  // `dark` to enable the dark color theme, or to `light dark` to defer to the
  // user's system settings.
  color-scheme: light;

  // Set a default background, font and text colors for the application using
  // Angular Material's system-level CSS variables. Learn more about these
  // variables at https://material.angular.dev/guide/system-variables
  background-color: var(--mat-sys-surface);
  color: var(--mat-sys-on-surface);
  font: var(--mat-sys-body-medium);

  // Reset the user agent margin.
  margin: 0;
}
@font-face {
    font-family: 'Pokemon Solid';
    src: url('assets/fonts/PokemonSolidNormal.woff2') format('woff2'),
        url('assets/fonts/PokemonSolidNormal.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
    
}


@import 'bootstrap/dist/css/bootstrap.min.css';

a{
    text-decoration: none;
}

/* App global font + fallback chain. Use the CSS variable in components if needed. */
:root {
    --app-font: 'Pokemon Solid', 'Segoe UI', Roboto, 'Helvetica Neue', Arial, sans-serif;
}



/* Utility: a class you can apply when you need to override/back to system font */
.use-system-font {
    font-family: system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, sans-serif !important;
}

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

html, body {
    height: 100%;
    font-family: var(--app-font);
    letter-spacing: 2.5px;
}